# Strings
Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

In [ ]:
print("Hello")
print('Hello')

Hello
Hello

# Assign String to a Variable
Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [ ]:
a= "Hello"
print(a)

Hello

# Multiline Strings
You can assign a multiline string to a variable by using three quotes:

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

# Strings are Arrays
Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [ ]:
A= 'Banana'
print(A[0]) # This is printing First letter of Banana

B

# Looping Through a String
Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
for words in a:
  print(words)

# Note
#This prints all the alphabets one by one which are stored in variable a

L
o
r
e
m

i
p
s
u
m

d
o
l
o
r

s
i
t

a
m
e
t
,


c
o
n
s
e
c
t
e
t
u
r

a
d
i
p
i
s
c
i
n
g

e
l
i
t
,


s
e
d

d
o

e
i
u
s
m
o
d

t
e
m
p
o
r

i
n
c
i
d
i
d
u
n
t


u
t

l
a
b
o
r
e

e
t

d
o
l
o
r
e

m
a
g
n
a

a
l
i
q
u
a
.


## String Length
To get the length of a string, use the len() function.

In [ ]:
a = "Hello, World!"
print(len(a))

13

## Check String
To check if a certain phrase or character is present in a string, we can use the keyword in.

In [ ]:
#Check if "free" is present in the following text:

txt = "The best things in life are free!"
print("free" in txt)

True

## Check if NOT
To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

In [ ]:
##Check if "expensive" is NOT present in the following text:

txt = "The best things in life are free!"
print("expensive" not in txt)

True

# String Methods
Python has a set of built-in methods that you can use on strings.

**Note:** **All string methods return new values. They do not change the original string.** **bold text**

**Following are some methods:**

capitalize() :	Converts the first character to upper case

casefold() :	Converts string into lower case

center() :	Returns a centered string

count() :	Returns the number of times a specified value occurs in a string

encode() :	Returns an encoded version of the string

endswith() :	Returns true if the string ends with the specified value

expandtabs() :	Sets the tab size of the string

find() :	Searches the string for a specified value and returns the position of where it was found

format() :	Formats specified values in a string

format_map() :	Formats specified values in a string

index() :	Searches the string for a specified value and returns the position of where it was found

isalnum() :	Returns True if all characters in the string are alphanumeric

isalpha() :	Returns True if all characters in the string are in the alphabet

isdecimal() :	Returns True if all characters in the string are decimals

isdigit() :	Returns True if all characters in the string are digits

isidentifier() :	Returns True if the string is an identifier

islower() :	Returns True if all characters in the string are lower case

isnumeric() :	Returns True if all characters in the string are numeric

isprintable() :	Returns True if all characters in the string are printable

isspace() :	Returns True if all characters in the string are whitespaces

istitle() :	Returns True if the string follows the rules of a title

isupper() :	Returns True if all characters in the string are upper case

join() :	Joins the elements of an iterable to the end of the string

ljust() :	Returns a left justified version of the string

lower() :	Converts a string into lower case

lstrip() :	Returns a left trim version of the string

maketrans() :	Returns a translation table to be used in translations

partition() :	Returns a tuple where the string is parted into three parts

replace() :	Returns a string where a specified value is replaced with a
specified value

rfind() :	Searches the string for a specified value and returns the last position of where it was found

rindex() :	Searches the string for a specified value and returns the last position of where it was found

rjust() :	Returns a right justified version of the string

rpartition() :	Returns a tuple where the string is parted into three parts

rsplit() :	Splits the string at the specified separator, and returns a list

rstrip() :	Returns a right trim version of the string

split() :	Splits the string at the specified separator, and returns a list

splitlines() :	Splits the string at line breaks and returns a list

startswith() :	Returns true if the string starts with the specified value

strip() :	Returns a trimmed version of the string

swapcase() :	Swaps cases, lower case becomes upper case and vice versa

title() :	Converts the first character of each word to upper case

translate() :	Returns a translated string

upper() :	Converts a string into upper case

zfill() :	Fills the string with a specified number of 0 values at the beginning

# Python - Slicing Strings

## Slicing
You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [10]:
#Example
#Get the characters from position 2 to position 5 (not included):

a = "Hello, World!"
print(a[2:5])

#Note: The first character has index 0.

llo

### Slice From the Start
By leaving out the start index, the range will start at the first character:

In [11]:
#Example
#Get the characters from the start to position 5 (not included):

b = "Hello, World!"
print(b[:5])

Hello

### Slice To the End
By leaving out the end index, the range will go to the end:

In [12]:
#Example
#Get the characters from position 2, and all the way to the end:

b = "Hello, World!"
print(b[2:])

llo, World!

### Negative Indexing
Use negative indexes to start the slice from the end of the string:
Example

In [13]:
#Example
#Get the characters:

#From: "o" in "World!" (position -5)
#To, but not included: "d" in "World!" (position -2):

b = "Hello, World!"
print(b[-5:-2])

orl